@{
    ViewData["Title"] = "Home Page";

    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<main>


    <!-- Slider Area -->
    <section class="slider">
        <div class="hero-slider">
            <!-- Start Single Slider -->
            <div class="single-slider" style="background-image:url('/image/slider2-1.jpg')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text">
                                <h1>為您提供 <span>最好的 </span> 產品以及服務 <span>值得您的信任!</span></h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
                                <div class="button">
                                    <a href="#" class="btn">索取產品型錄</a>
                                    <a href="#" class="btn primary">了解更多</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Slider -->
            <!-- Start Single Slider -->
            <div class="single-slider" style="background-image:url('/image/slider1-1.jpg')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text">
                                <h1>為您提供 <span>最好的 </span> 產品以及服務 <span>值得您的信任!</span></h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
                                <div class="button">
                                    <a href="#" class="btn">索取產品型錄</a>
                                    <a href="#" class="btn primary">了解更多</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start End Slider -->
            <!-- Start Single Slider -->
            <div class="single-slider" style="background-image:url('/image/slider4-1.jpg')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text">
                                <h1>為您提供 <span>最好的 </span> 產品以及服務 <span>值得您的信任!</span></h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
                                <div class="button">
                                    <a href="#" class="btn">索取產品型錄</a>
                                    <a href="#" class="btn primary">了解更多</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Slider -->
        </div>
    </section>
    <!--/ End Slider Area -->
    <!-- Start Schedule Area -->
    <section class="schedule">
        <div class="container">
            <div class="schedule-inner">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 ">
                        <!-- single-schedule -->
                        <div class="single-schedule first">
                            <div class="inner">
                                <div class="icon">
                                    <i class="icofont icofont-shopping-cart"></i>
                                </div>
                                <div class="single-content">
                                    <span>Lorem Amet</span>
                                    <h4>線上商城</h4>
                                    <p>Lorem ipsum sit amet consectetur adipiscing elit. Vivamus et erat in lacus convallis sodales.</p>
                                    <a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- single-schedule -->
                        <div class="single-schedule middle">
                            <div class="inner">
                                <div class="icon">
                                    <i class="icofont icofont-price"></i>
                                </div>
                                <div class="single-content">
                                    <span>Fusce Porttitor</span>
                                    <h4>最優惠的價格</h4>
                                    <p>Lorem ipsum sit amet consectetur adipiscing elit. Vivamus et erat in lacus convallis sodales.</p>
                                    <a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        <!-- single-schedule -->
                        <div class="single-schedule last">
                            <div class="inner">
                                <div class="icon">
                                    <i class="icofont icofont-delivery-time"></i>
                                </div>
                                <div class="single-content">
                                    <span>Donec luctus</span>
                                    <h4>最快的物流</h4>
                                    <ul class="time-sidual">
                                        <li class="day">Monday - Fridayp <span>8.00-20.00</span></li>
                                        <li class="day">Saturday <span>9.00-18.30</span></li>
                                        <li class="day">Monday - Thusday <span>9.00-15.00</span></li>
                                    </ul>
                                    <a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/End Start schedule Area -->
    <!-- Start Feautes -->
    <section class="Feautes section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <!-- Start Single features -->
                    <div class="single-features">
                        <div class="signle-icon">
                            <i class="icofont icofont-shopping-cart"></i>
                        </div>
                        <h3>Online Shopping</h3>
                        <p>Lorem ipsum sit, consectetur adipiscing elit. Maecenas mi quam vulputate.</p>
                    </div>
                    <!-- End Single features -->
                </div>
                <div class="col-lg-4 col-12">
                    <!-- Start Single features -->
                    <div class="single-features">
                        <div class="signle-icon">
                            <i class="icofont icofont-price"></i>
                        </div>
                        <h3>Best Prices</h3>
                        <p>Lorem ipsum sit, consectetur adipiscing elit. Maecenas mi quam vulputate.</p>
                    </div>
                    <!-- End Single features -->
                </div>
                <div class="col-lg-4 col-12">
                    <!-- Start Single features -->
                    <div class="single-features last">
                        <div class="signle-icon">
                            <i class="icofont icofont-delivery-time"></i>
                        </div>
                        <h3>Fast Delivery</h3>
                        <p>Lorem ipsum sit, consectetur adipiscing elit. Maecenas mi quam vulputate.</p>
                    </div>
                    <!-- End Single features -->
                </div>
            </div>
        </div>
    </section>
    <!--/ End Feautes -->
    <!-- Start Fun-facts -->
    <div id="fun-facts" class="fun-facts section overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>
                            為您提供最好的產品以及服務值得您的信任
                        </h2>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Fun -->
                    <div class="single-fun">
                        <i class="icofont icofont-shopping-cart"></i>
                        <div class="content">
                            <span class="counter">3468</span>
                            <p>Products Sold</p>
                        </div>
                    </div>
                    <!-- End Single Fun -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Fun -->
                    <div class="single-fun">
                        <i class="icofont icofont-users-alt-5"></i>
                        <div class="content">
                            <span class="counter">557</span>
                            <p>Happy Customers</p>
                        </div>
                    </div>
                    <!-- End Single Fun -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Fun -->
                    <div class="single-fun">
                        <i class="icofont icofont-truck-loaded"></i>
                        <div class="content">
                            <span class="counter">4379</span>
                            <p>Orders Delivered</p>
                        </div>
                    </div>
                    <!-- End Single Fun -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Fun -->
                    <div class="single-fun">
                        <i class="icofont icofont-clock-time"></i>
                        <div class="content">
                            <span class="counter">32</span>
                            <p>Years of Experience</p>
                        </div>
                    </div>
                    <!-- End Single Fun -->
                </div>
            </div>
        </div>
    </div>
    <!--/ End Fun-facts -->
    <!-- Start portfolio -->
    <section class="portfolio section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <div class="owl-carousel portfolio-slider">
                            <div class="single-pf">
                                <img src="~/image/pf1.jpg" />
                                <a href="portfolio-details.html" class="btn">View Details</a>
                            </div>
                            <div class="single-pf">
                                <img src="~/image/pf1.jpg" alt="#">
                                <a href="portfolio-details.html" class="btn">View Details</a>
                            </div>
                            <div class="single-pf">
                                <img src="/image/pf3.jpg" alt="#">
                                <a href="portfolio-details.html" class="btn">View Details</a>
                            </div>
                            <div class="single-pf">
                                <img src="/image/pf4.jpg" alt="#">
                                <a href="portfolio-details.html" class="btn">View Details</a>
                            </div>
                            <div class="single-pf">
                                <img src="/image/pf1.jpg" alt="#">
                                <a href="portfolio-details.html" class="btn">View Details</a>
                            </div>
                            <div class="single-pf">
                                <img src="/image/pf2.jpg" alt="#">
                                <a href="portfolio-details.html" class="btn">View Details</a>
                            </div>
                            <div class="single-pf">
                                <img src="/image/pf3.jpg" alt="#">
                                <a href="portfolio-details.html" class="btn">View Details</a>
                            </div>
                            <div class="single-pf">
                                <img src="/image/pf4.jpg" alt="#">
                                <a href="portfolio-details.html" class="btn">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End portfolio -->
    <!-- Start service -->
    <section class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <img src="~/image/logo5.jpg" />
                        <p>We Offer Different Services To Improve Your Shopping Experience</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Service -->
                    <div class="single-service">
                        <i class="icofont icofont-shopping-cart"></i>
                        <h4><a href="service-details.html">Online Shopping</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus dictum eros ut imperdiet. </p>
                    </div>
                    <!-- End Single Service -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Service -->
                    <div class="single-service">
                        <i class="icofont icofont-price"></i>
                        <h4><a href="service-details.html">Best Prices</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus dictum eros ut imperdiet. </p>
                    </div>
                    <!-- End Single Service -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Service -->
                    <div class="single-service">
                        <i class="icofont icofont-delivery-time"></i>
                        <h4><a href="service-details.html">Fast Delivery</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus dictum eros ut imperdiet. </p>
                    </div>
                    <!-- End Single Service -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Service -->
                    <div class="single-service">
                        <i class="icofont icofont-live-support"></i>
                        <h4><a href="service-details.html">24/7 Support</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus dictum eros ut imperdiet. </p>
                    </div>
                    <!-- End Single Service -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Service -->
                    <div class="single-service">
                        <i class="icofont icofont-stock-mobile"></i>
                        <h4><a href="service-details.html">Mobile Shopping</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus dictum eros ut imperdiet. </p>
                    </div>
                    <!-- End Single Service -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Service -->
                    <div class="single-service">
                        <i class="icofont icofont-credit-card"></i>
                        <h4><a href="service-details.html">Secure Payment</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus dictum eros ut imperdiet. </p>
                    </div>
                    <!-- End Single Service -->
                </div>
            </div>
        </div>
    </section>
    <!--/ End service -->
    <!-- Pricing Table -->
    <section class="pricing-table section">
        <div class="container">


            <div class="row">
                <!-- Single Table -->
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="single-table">
                        <!-- Table Head -->
                        <div class="table-head">
                            <div class="icon">
                                <i class="icofont icofont-shopping-cart"></i>
                            </div>
                            <h4 class="title">Online Shopping</h4>
                            <div class="price">
                                <p class="amount">$199<span>/ Per Visit</span></p>
                            </div>
                        </div>
                        <!-- Table List -->
                        <ul class="table-list">
                            <li><i class="icofont icofont-ui-check"></i>Lorem ipsum dolor sit</li>
                            <li><i class="icofont icofont-ui-check"></i>Cubitur sollicitudin fentum</li>
                            <li class="cross"><i class="icofont icofont-ui-close"></i>Nullam interdum enim</li>
                            <li class="cross"><i class="icofont icofont-ui-close"></i>Donec ultricies metus</li>
                            <li class="cross"><i class="icofont icofont-ui-close"></i>Pellentesque eget nibh</li>
                        </ul>
                        <div class="table-bottom">
                            <a class="btn" href="#">Book Now</a>
                        </div>
                        <!-- Table Bottom -->
                    </div>
                </div>
                <!-- End Single Table-->
                <!-- Single Table -->
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="single-table">
                        <!-- Table Head -->
                        <div class="table-head">
                            <div class="icon">
                                <i class="icofont icofont-price"></i>
                            </div>
                            <h4 class="title">Best Prices</h4>
                            <div class="price">
                                <p class="amount">$299<span>/ Per Visit</span></p>
                            </div>
                        </div>
                        <!-- Table List -->
                        <ul class="table-list">
                            <li><i class="icofont icofont-ui-check"></i>Lorem ipsum dolor sit</li>
                            <li><i class="icofont icofont-ui-check"></i>Cubitur sollicitudin fentum</li>
                            <li><i class="icofont icofont-ui-check"></i>Nullam interdum enim</li>
                            <li class="cross"><i class="icofont icofont-ui-close"></i>Donec ultricies metus</li>
                            <li class="cross"><i class="icofont icofont-ui-close"></i>Pellentesque eget nibh</li>
                        </ul>
                        <div class="table-bottom">
                            <a class="btn" href="#">Book Now</a>
                        </div>
                        <!-- Table Bottom -->
                    </div>
                </div>
                <!-- End Single Table-->
                <!-- Single Table -->
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="single-table">
                        <!-- Table Head -->
                        <div class="table-head">
                            <div class="icon">
                                <i class="icofont icofont-delivery-time"></i>
                            </div>
                            <h4 class="title">Fast Delivery</h4>
                            <div class="price">
                                <p class="amount">$399<span>/ Per Visit</span></p>
                            </div>
                        </div>
                        <!-- Table List -->
                        <ul class="table-list">
                            <li><i class="icofont icofont-ui-check"></i>Lorem ipsum dolor sit</li>
                            <li><i class="icofont icofont-ui-check"></i>Cubitur sollicitudin fentum</li>
                            <li><i class="icofont icofont-ui-check"></i>Nullam interdum enim</li>
                            <li><i class="icofont icofont-ui-check"></i>Donec ultricies metus</li>
                            <li><i class="icofont icofont-ui-check"></i>Pellentesque eget nibh</li>
                        </ul>
                        <div class="table-bottom">
                            <a class="btn" href="#">Book Now</a>
                        </div>
                        <!-- Table Bottom -->
                    </div>
                </div>
                <!-- End Single Table-->
            </div>
        </div>
    </section>
    <!--/ End Pricing Table -->
    <!-- Start Blog Area -->
    @*     <section class="blog section" id="blog">
    <div class="container">

    <div class="row">
    <div class="col-lg-4 col-md-6 col-12">
    <!-- Single Blog -->
    <div class="single-news">
    <div class="news-head">
    <img src="~/image/pf1.jpg" />

    </div>
    <!-- ... 其他程式碼 ... -->
    </div>
    <!-- End Single Blog -->
    </div>
    <div class="col-lg-4 col-md-6 col-12">
    <!-- Single Blog -->
    <div class="single-news">
    <div class="news-head">
    <img src="~/image/pf2.jpg" />

    </div>
    <!-- ... 其他程式碼 ... -->
    </div>
    <!-- End Single Blog -->
    </div>
    <div class="col-lg-4 col-md-6 col-12">
    <!-- Single Blog -->
    <div class="single-news">
    <div class="news-head">
    <img src="~/image/pf3.jpg" />
    </div>
    <!-- ... 其他程式碼 ... -->
    </div>
    <!-- End Single Blog -->
    </div>
    </div>
    </div>
    </section>
    *@    <!-- End Blog Area -->
    <!-- Start clients -->
    <div class="clients overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="owl-carousel clients-slider img">
                        <div class="single-clients">
                            <img src="~/image/client1.png" alt="#" />
                        </div>
                        <div class="single-clients">
                            <img src="~/image/client2.png" alt="#" />
                        </div>
                        <div class="single-clients">
                            <img src="~/image/client3.png" alt="#" />
                        </div>
                        <div class="single-clients">
                            <img src="~/image/client4.png" alt="#" />
                        </div>
                        <div class="single-clients">
                            <img src="~/image/client5.png" alt="#" />
                        </div>
                        <div class="single-clients">
                            <img src="~/image/client1.png" alt="#" />
                        </div>
                        <div class="single-clients">
                            <img src="~/image/client2.png" alt="#" />
                        </div>
                        <div class="single-clients">
                            <img src="~/image/client3.png" alt="#" />
                        </div>
                        <div class="single-clients">
                            <img src="~/image/client4.png" alt="#" />
                        </div>
                        <div class="single-clients">
                            <img src="~/image/client5.png" alt="#" />
                        </div>
                        <div class="single-clients">
                            <img src="~/image/client1.png" alt="#" />
                        </div>
                        <div class="single-clients">
                            <img src="~/image/client2.png" alt="#" />
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Ens clients -->
    <!-- Start Appointment -->
    <section class="appointment">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>您寶貴的意見是我們向前的動力!</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Appointment -->
    <!-- Start Newsletter Area -->
    <section class="newsletter section">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6  col-12">
                    <!-- Start Newsletter Form -->
                    <div class="subscribe-text ">
                        <h6>立即註冊訂閱電子報</h6>
                        <p class="">不錯過任何優惠訊息<br> homero alterum.</p>
                    </div>
                    <!-- End Newsletter Form -->
                </div>
                <div class="col-lg-6  col-12">
                    <!-- Start Newsletter Form -->
                    <div class="subscribe-form ">
                        <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                            <input name="EMAIL" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Your email address'" required="" type="email">
                            <button class="btn">Subscribe</button>
                        </form>
                    </div>
                    <!-- End Newsletter Form -->
                </div>
            </div>
        </div>
    </section>
    <!-- /End Newsletter Area -->

</main>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/lottiefiles/lottie-player"></script>
    <script>
        var lottiePlayer = document.getElementById('lottie-animation');
        lottiePlayer.setAttribute('src', '/lottie/medical.json');
    </script>
    <script>
        var animation = lottie.loadAnimation({
            container: document.getElementById('lottie-animation'), // the dom element that will contain the animation
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: 'path_to_your_animation.json' // the path to the animation json
        });
    </script>
}
```