@model OnlineShopCMS.Areas.Identity.Data.OnlineShopUserRole

@{
    ViewData["Title"] = "RoleCreate";
<<<<<<< HEAD
    Layout = "~/Views/Shared/_UserManagLayout.cshtml";
=======
    Layout = "~/Views/Shared/_Layout.cshtml";
>>>>>>> 6c1fd4ee0d5dbde6c6b3ed2f1e2922a5860308c0
}

<h1>RoleCreate</h1>

<h4>OnlineShopUserRole</h4>
<hr />
<div class="row">
    <div class="col-md-4">
<<<<<<< HEAD
        <form asp-action="CreateRole">
=======
        <form asp-action="RoleCreate">
>>>>>>> 6c1fd4ee0d5dbde6c6b3ed2f1e2922a5860308c0
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
<<<<<<< HEAD
    <a asp-action="ListRoles">Back to List</a>
=======
    <a asp-action="Index">Back to List</a>
>>>>>>> 6c1fd4ee0d5dbde6c6b3ed2f1e2922a5860308c0
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
