@model OnlineShopCMS.Models.Coupon

<h2>Create Coupon</h2>

<form asp-action="CreateCoupon">
    <div class="form-group">
        <label asp-for="Code" class="control-label"></label>
        <input asp-for="Code" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DiscountAmount" class="control-label"></label>
        <input asp-for="DiscountAmount" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ExpiryDate" class="control-label"></label>
        <input asp-for="ExpiryDate" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="CreateCoupon" class="btn btn-primary" />
    </div>
</form>