@model OnlineShopCMS.Models.Product

@{
<<<<<<< HEAD
    ViewData["Title"] = "EditOrder";
    Layout = "~/Views/Shared/_ProductManagLayout.cshtml";
}

<div class="container-xl px-4 mt-n10">
    <div class="row justify-content-center">
        <div class="card align-content-center p-4" style="border-radius: 40px;">
            <h1 class="text-center mb-4">Edit Item</h1>
            <hr />

            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row mb-3">
                    <div class="col-md-8">
                        <div class="row mb-3">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label">Item Name</label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="CategoryId" class="control-label">Category</label>
                                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label">Description</label>
                                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="Image" class="control-label">Image</label>
                                    <input type="file" name="myimg" id="myimg" class="form-control-file">
                                    <span asp-validation-for="Image" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <img id="preview" style="max-height: 200px;" src="@ViewBag.image" />
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Price" class="control-label">Price</label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Stock" class="control-label">Stock</label>
                            <input asp-for="Stock" class="form-control" />
                            <span asp-validation-for="Stock" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Content" class="control-label"></label>
                            <textarea asp-for="Content" class="form-control" id="editor"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section editScripts {
=======
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">

        <div class="col-8">
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="control-label">Category</label>
                        <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.Categories"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" style="height:150px"></textarea>
                        <span asp-validation-for="Description" class="text-danger" id="editor01"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input type="file" name="myimg" id="myimg" class="form-control-file">
                        <span asp-validation-for="Image" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img id="preview" style="max-height:200px;" src="@ViewBag.image" />
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control editor" id="editor"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
>>>>>>> 6c1fd4ee0d5dbde6c6b3ed2f1e2922a5860308c0
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<<<<<<< HEAD
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                toolbar: ['Heading', '|', 'bold', 'italic', 'link', 'numberedList', 'bulletedList', '|', 'Alignment', 'Outdent', 'Indent', '|', 'BlockQuote', 'InsertTable', 'undo', 'redo']
            })
            .catch(error => {
                console.error(error);
            });
=======

    <script>
        ClassicEditor
            .create(document.querySelector('.editor'), {

                toolbar: {
                    items: [
                        'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', '|',
                        'alignment', 'outdent', 'indent', '|', 'fontSize', 'fontColor', '|',
                        'imageUpload', 'blockQuote', 'insertTable', 'mediaEmbed', 'undo', 'redo'
                    ]
                },
                language: 'en',
                image: {
                    toolbar: [
                        'imageTextAlternative',
                        'imageStyle:inline',
                        'imageStyle:block',
                        'imageStyle:side'
                    ]
                },
                table: {
                    contentToolbar: [
                        'tableColumn',
                        'tableRow',
                        'mergeTableCells'
                    ]
                },
                licenseKey: '',


            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error('Oops, something went wrong!');
                console.error(error);
            });

>>>>>>> 6c1fd4ee0d5dbde6c6b3ed2f1e2922a5860308c0
    </script>
    <script>
        $('#myimg').on('change', function (e) {
            const file = this.files[0];
<<<<<<< HEAD
            const objectURL = URL.createObjectURL(file);
=======
            const objectURL = URL.createObjectURL(file);    // 使用 createObjectURL 產生圖片url
>>>>>>> 6c1fd4ee0d5dbde6c6b3ed2f1e2922a5860308c0

            $('#preview').attr('src', objectURL);
        });
    </script>
<<<<<<< HEAD
}
=======

}

<style>
    /*Textbox*/
    .ck-editor__editable {
        height: 300px;
    }
    /*Toolbar*/
    .ck-editor__top {
    }
</style>
>>>>>>> 6c1fd4ee0d5dbde6c6b3ed2f1e2922a5860308c0
